<form class="example-form" novalidate autocomplete="off" #form="ngForm">
  <mat-form-field class="example-full-width">
    <input matInput type="text" placeholder="First Name" name="Firstname" [(ngModel)]="user.FirstName" >
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Last Name" [(ngModel)]="user.LastName" name="LastName">
  </mat-form-field>
  <mat-form-field>
    <input matInput [matDatepicker]="picker2" placeholder="DOB" disabled [(ngModel)]="user.Dob" name="dob">
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2 disabled="false"></mat-datepicker>
  </mat-form-field>  
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Designation" value="" [(ngModel)]="user.Designation" name="Designation">
  </mat-form-field>
<button mat-button color="primary" (click)="onSubmit(user)">Submit</button>
</form>

<hr/>

<div class="example-container mat-elevation-z8">

<mat-table [dataSource]="dataSource" matSort>

  <!-- ID Column -->
  <ng-container matColumnDef="FirstName">
    <mat-header-cell *matHeaderCellDef mat-sort-header> FirstName </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.FirstName}} </mat-cell>
  </ng-container>

  <!-- Progress Column -->
  <ng-container matColumnDef="LastName">
    <mat-header-cell *matHeaderCellDef mat-sort-header> LastName </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.LastName}} </mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="Dob">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Dob </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.Dob}} </mat-cell>
  </ng-container>

  <!-- Color Column -->
  <ng-container matColumnDef="Designation">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Designation </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.Designation}} </mat-cell>
  </ng-container>
<ng-container matColumnDef="actions"> 
  <mat-header-cell *matHeaderCellDef> Action </mat-header-cell> 
  <mat-cell *matCellDef="let row" (click)=onDeleteClicked(row)><button>Delete</button>
  </mat-cell> 
</ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"> </mat-row>
</mat-table>
</div>
